.book-list-box{
    display: flex;
    flex-direction: column;
}
.header{ 
    background-color: #9eb5be;
    margin-bottom: 10px;
    padding: 30px;
}

.header .search-bar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0% 10%;
    
}
.search-bar input{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    padding: 20px;
    outline: none;
}
.search-bar button{
    height: 50px;
    border-radius: 10px;
    padding:0px 10px;
    border: none;  
}

.book-list-box .buttons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 2% 10%;
    height: 45px;
    
}
.buttons button{
    padding: 5px 20px;
    border: none;
    margin-left: 100PX;
    background-color: rgb(224, 80, 80);
    border-radius: 10px;
    color: aliceblue;
    
}
.list-of-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
